*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
    
}
body{
    margin: 0;
    
    font-size: 13px;
    
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight:400;
    font-size: 60px;
}
h2{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 30px;
    color:  #529F0F;
}
h3{
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 40px;
    font-weight: 400;
}
h4{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lora', serif;
}

/*  Header */


header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a{
    padding: 0px 20px;
    
}
.container img{
    margin: 0px 100px;
    padding: 0px 30px;
}

.container p{
    margin-right: 10px;
    padding: 20px;
}
i{
    padding: 0px 60px;
}
a{
    color: black;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
}

#img1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color:black;
    background-image: url("img/slider-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media (max-width: 768px){
    .container img{
        margin: 20px 10px;
    }
    i{
        padding: 0px;
    }
    .container p{
        padding: 0;
    }
    .nav-link{
        text-decoration: none;
        color: black;
    }
    header nav{
        display: flex;
        align-items: center;
    }
}

/* Section 1 */


#sale-img .container{
    margin: 100px 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
}
.fondo1{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("img/banner-1.png");
    background-repeat: no-repeat;
   
    height: 50vh;
    
}
.fondo2{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/banner-2.png");
    background-repeat: no-repeat;
    
    height: 50vh;
    
}

/* Section 2*/


#last-products{
   
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("img/bg-1.jpg");
    background-repeat: no-repeat;
}
#last-products p{
    padding: 10px 10px;
    width: 0px 100px;
    font-weight: 400;
    font-size: 15px;
}
#last-products .white{
    padding: 30px 30px;
}


ul{
    margin: 30px 30px;
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
li{
    padding: 0px 10px;
}
li {
    padding: 10px ;
    text-align: left;
   
}
li h4{
    text-align: left;
}
del{
    color: #575757;
}
/* Section 3*/

.lorem{
    margin: 100px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lorem .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400 italic;
    font-family: 'Lora', serif;
}
.section3 h4{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
}
.section3 p{
    padding: 5px;
}
.section3 h5{
    padding:10px;
    color: #575757;
    font-size: 15px;
}

/* Section 4*/

.contenedor{
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor h3{
    margin-top: 100px;
    padding: 30px;
}
.contenedor p{
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Lora', serif;
    font-weight: 400;
}
.contenedor ul{
    display: flex;
    flex-wrap: wrap;
}
.grid li{
    padding: 10px;
}
.grid p{
    text-align: left;
}
.grid h4{
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #575757;
}
/* Section 5*/

#container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-image: url("img/bg-2.jpg");
    background-repeat: no-repeat;
}
#container h1{
    font-size: 50px;
    padding: 10px;
}
.form{
    margin: 30px ;
    padding: 10px;
}

.form .email{
    background-image: url("img/bg-2.jpg");
    padding: 15px 15px;
    width: 500px;
    
}
.form .boton{
    
    background: black;
    color: white;
    font: bold;
    padding: 15px 15px;
}

/* Section 6*/

.latest-news{
    padding: 30px;
    background-image: url("img/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.titulo h1{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.titulo li{
    display: flex;
    flex-direction: column;
    
   
}
.titulo a{
    color: #529F0F;
}
.titulo h2{
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}
.titulo h4{
    padding: 10px;
}
.titulo p{
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color:  #575757;
    width: 250px;
}
.titulo .read-more{
    padding: 10px;
    color: black;
}
/* Section 7*/
.container2{
    padding: 50px;
}

/* Section 8*/
.container3{
    padding: 30px;
    background-color: #F3F3F3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container3 .info li{
    padding: 50px 50px;
    font-size: 30px;
}
.container3 p{
    padding: 10px;
    font-size: 16px;
    color: #575757;
}
/* Footer*/
footer .fondo{
    padding: 20px 100px;
    background-color: #EBEBEB;
}
.fondo h3{
    font-size: 16px;
}
.fondo{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
}
.fondo img{
    margin: 0 auto;
}